.skip {
    background-color: #b30000;
    color:#ffffff;
    padding: 5px;
    text-decoration: none;
    position: absolute; 
    top: 10px;
    left:-999px;
}
.skip:focus{
    left:10px;
}

@media only screen and (max-width:600px){
    span{display:none;}
}
.copyright {float: right;
    #content: max-width:100%
        }