body {background-color:#F2C6F2;}
.row2{background-color: #F2C6F2;}
p, ol, ul {color:#660066;}
a {color: #49276D;}
h1,h2,h3 {color: #481C2F;}
nav {
    background-color: #BC8BAB;
    padding: 10px;
    margin-bottom: 30px;
}
nav a {
    color: #481C2F;
    border-radius: 5px;
}
nav a:hover{
    background-color:#AE9BCB;
}
.evenrow {background-color:lightpink;}
table,td,th {border: 1px solid black;}
nav a span {
    display: none;
  }

@media only screen and (max-width:600px){
    nav a {
        width: 100%;
        display: block; 
    }
    .map, .forms{
        flex:1
    }
    #content {
        width:50%;
    }
    span{
        display:none;
    }
}

.row1, .row2{
    display:flex; 
    flex-wrap:wrap; 
}

.skip {
    background-color: #ffffff;
    padding: 5px;
    text-decoration: none;
    position: absolute; 
    top: 10px;
    left:-999px;
}
.skip:focus{
    left:10px;
}