.skip {
    background-color: #b30000;
    color:#ffffff;
    padding: 5px;
    text-decoration: none;
    position: absolute; 
    top: 10px;
    left:-999px;
}
.skip:focus{
    left:10px;
}

@media only screen and (max-width:600px){
    span{
        display:none;
    }
    nav a {
        width: 100%;
        display: block;
    }
    textarea{
        max-width:100%; 
        width:30%;
    }
}

.copyright {float: right;}

main {
    background-color: #000000;
    color: white;
    margin: 30px;
  }

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
}
nav a:hover {
      color: #FF007F;
}

h1{
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 30px;
}
h2{
    margin-left: 20px;
    margin-right:20px;
    margin-top: 50px;
}
h3{
    margin-left: 30px;
    margin-right:30px;
}
p{
    margin-left: 40px;
    margin-right:40px;
}


