.skip {
    background-color: #b30000;
    color:#ffffff;
    padding: 5px;
    text-decoration: none;
    position: absolute; 
    top: 10px;
    left:-999px;
}
.skip:focus{
    left:10px;
}

@media only screen and (max-width:600px){
    span{display:none;}
    nav a {
        width: 100%;
        display: block; 
    }
}

.copyright {float: right;}

.whole {
    background-color: #000000;
    color: white;
    margin: 30px;
  }
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a:hover {
      color: #FF007F;
}