body {background-color:#F2C6F2;}
p, ol, ul {color: #7d34ea;}
a {color: #49276D;}
h1,h2,h3 {color: #481C2F;}
nav {
    background-color: #BC8BAB;
    padding: 10px;
    margin-bottom: 30px
}
nav a {color: #481C2F;border-radius}
nav a: hover{ background-color:#AE9BCB;}
.evenrow {background-color:lightpink;}
table,td,th {border: 1px solid black;}