body {background-color:#F2C6F2;}
p, ol, ul {color: #7d34ea;}
a {color: #49276D;}
h1,h2,h3 {color: #481C2F;}
nav {
    background-color: #BC8BAB;
    padding: 10px;
    margin-bottom: 30px
}
nav a {color: #481C2F;border-radius}
nav a: hover{ background-color:#AE9BCB;}
.evenrow {background-color:lightpink;}
table,td,th {border: 1px solid black;}

h1 {
    text-align: center;
    margin-top: 50px;
}
h2 {
    display: flex;
    justify-content: center;
}
img{
    width:20px;
}
.introduction{
    margin-left:45px;
    width: 60%
}
.top-skills{
    display:flex;
    flex: 75%;
    margin:30px;
}

.html {padding: 35px;}
.relationships {padding: 35px;}
.communication {padding: 35px;}
.time {padding: 35px;}
.social {padding: 35px;}

.other-skills{
    background-color: #dc8f9b;
    display: flex; 
    flex: 15%;
    margin: 20px; 
    margin-right: 80px;
    border-radius: 15px;
}
.skills{
    display: flex;
    justify-content: center;

}
aside {
    display: block;
}