selector {font-family: Verdana, Geneva, Tahoma, sans-serif;}
Grouped selectors h1, h2 {color: blueviolet;}
.special {color: purple;}
.evenrow {color:lightpink;}
h1 {font-size: 3 em;}
h2 {font-size: 2 em;}